#game-container {
    font-family:"Permanent Marker", cursive;
    text-align: center;
}

#cells-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 250px;
    margin: auto;
}

.cell {
    border: 2px black solid;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 2px;
    cursor: pointer;
    font-size: 75px;
}

.score-board {
    margin-top: 10px;
}

.reset-btn {
    margin-top: 15px;
    font-family: "Permanent Marker", cursive;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.reset-btn:hover {
    background-color: aquamarine;
    color: black;
}